.header {
	background-color: transparent;
	transition: background-color 0.3s ease; /* Smooth transition for background color change */
	position: sticky;
	top: 0;
	z-index: 10;
}

.header.scrolled {
	background-color: #fff; /* White background */
}

.title {
	font-size: 1.8rem;
	font-weight: 400;
}

.title-bold {
	font-weight: 800;
}

.buttons {
	font-size: 1.1rem;
}
