.image-grid-title {
	font-size: 1.5rem;
	font-weight: 600;
}

.link-text {
	color: black;
	font-size: 1.1rem;
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(100%);
		filter: blur(4px);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		filter: blur(0);
		opacity: 1;
	}
}

.slide-in-bottom {
	animation: slideInFromBottom 1s ease-out forwards;
}
